*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
}
h1{
    background-color: black;
    color: white;
    text-align: center;
}
.choices{
    height: 200px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.emoji{
    height: 100px;
    width: 100px;
    /* border: 2px solid black; */
    margin-top: 30px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
}
.emoji:hover{
    border: px solid black;
}
.rock{
    background-color: yellow;
}
.paper{
    background-color: antiquewhite;
}
.scissor{
    background-color: rgb(252, 135, 135);
}

.score-board{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.score{
    width: 100px;
    height: 50px;
    /* border: 2px solid black; */
    text-align: center;
    align-content: center;
    border-radius: 10px;
    font-weight: 600;
}
#userScore, #compScore{
    font-size: 30px;
}
.msg-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
#move{
     background-color: black;
    color: white;
   /* text-align: center; */
   font-size: 1rem;
   display: inline;
   padding: 0.5rem; 
  border-radius: 5px;
   
}